.main-container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  height: 100vh;
  overflow: hidden;
  
}

.right-column {
  display: grid;
  grid-template-rows: minmax(auto, max-content) 1fr;
  height: 100%;
}

.chat-messages-area {
  overflow-y: auto;
  min-height: 0; /* This ensures that the grid item can be smaller than its content */
  word-wrap: break-word;
  overflow-wrap: break-word;
  box-sizing: border-box;
}


.listen-area {
  border: 1px solid #ccc;
  padding: 20px;
  margin: 10px;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
}

.listen-area .form-row {
  display: flex;
  align-items: flex-start;
  width: 100%;
  gap: 10px;
  margin-bottom: 10px;
}

.listen-area textarea {
  flex-grow: 1;
  padding: 10px;
  overflow: auto;
  resize: none;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
}

.listen-area .listen-button,
.listen-area .submit-button {
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 0.5rem; /* Adjust as needed */
  /*white-space: nowrap; */
  flex-shrink: 0;
}

